backend/sagemaker/model-artifacts.zip
.aws-sam
backend/lambda/bedRockChatBot/__pycache__/
backend/lambda/checkInteractions/__pycache__/
backend/lambda/checkTrial/__pycache__/
/node_modules
backend/lambda/reminder/medication.zip
backend/lambda/reminder/reminderEvent.zip
backend/lambda/reminder/output.json